// Diseño general
html, body {
  background: linear-gradient(100deg, #eaecf7 0%, #dce0f3 100%);
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
}

// Título de la aplicación
.brand-name {
  font-size: 24px;
  font-weight: bold;
  color: #2f50ff;
}

// Barra de navegación
.navbar-nav .nav-link {
  color: #000000;
  font-weight: 500;
  transition: font-weight 0.3s ease;
}

// Botón de inicio de sesión
.btn-admin .bi-person-circle {
  font-size: 20px;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}
